{# src/Nucleus/HomeBundle/Resources/views/Home/login.html.twig #}
{% extends "NucleusHomeBundle::layout.html.twig" %}
{% block body %}
    <div class="container">
    <form action="/">
        <div class="row filters">
            <div class="three columns">
                <div class="field-group">
                    <label for="type_annonce">Types d'annonce</label>
                    <select class="type_annonce" id="type_annonce" name="type_annonce">
                        <option value="">Tous</option>
                        {% for elt in typeannonce if elt.id < 3 %}
                            <option selected value="{{elt.id}}" title="{{ elt.description }}">{{ elt.name }}</option>                      
                        {% endfor%}
                    </select>
                </div>
            </div>
            <div class="three columns">
                <div class="field-group">
                    <label for="type">Categorie</label>
                    <select class="categorie" id="categorie" name="categorie">
                      <option value="">Toutes</option>
                      {% for elt in categories %}
                        <option selected value="{{elt.id}}" title="{{ elt.unite }}">{{ elt.name }}</option>                      
                      {% endfor%}
                    </select>
                </div>
            </div>           
                <div class="three columns">
                    <div class="field-group">
                        <label for="status">Status</label>
                        <select class="status" id="status" name="status">
                          <option value="">Tous</option>
                          {% for elt in phases %}
                            <option selected value="{{elt.id}}" title="{{ elt.description }}">{{ elt.name }}</option>                      
                          {% endfor%}
                        </select>
                    </div>
                </div>
                    <div class="three columns">
                        <div class="field-group">
                            <label class="submit-label" for="submit">&nbsp;</label>
                            <input class="button-primary" id="submit" name="submit" type="submit" value="Recherche">
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="section annonces">
    <div class="container">
        <h3 class="center">{{ annonces|length}} Offres en cours </h3>
      <dl class="dix_derniers">
        {% for elt in annonces|reverse %}  
            <dt>#00{{elt.id}} - {{elt.libelle}}  <span class="label label-type annonce_status">{{elt.typeannonce.name}}</span><span class="label label-info annonce_status">{{elt.categorie.name}}</span><span class="label label-primary annonce_status">{{elt.phase.name}}</span><span class="badge annonce_status">{{elt.prixunitaire}} F CFA / {{elt.categorie.unite}}</span><span class="badge annonce_status">{{elt.quantite}} {% if elt.categorie.unite == 'Unité'%} {{elt.categorie.unite}}(s) {%else%} {{elt.categorie.unite}} {%endif%}</span></dt>
            <dd>
              <p>{{elt.description}}</p> 
              <p class="center">  {%if elt.reponse|length > 0%} <a class="button" href="{{ path('NucleusHomeBundle_reponses', {'id': elt.id}) }}#reponse" id="voir_reponse">Voir les réponses de l'annonce #00{{elt.id}}</a> {%endif%}<a class="button" href="{{ path('NucleusHomeBundle_reponse', {'id': elt.id}) }}#reponse">Répondre à l'annonce #00{{elt.id}}</a></p>
            </dd>
        {% endfor%}
        
      </dl>
      <div class="pagination">
        <ul>
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
 {% endblock %}
        
