{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" Site de vente et d'achat de dechets">
    <meta name="author" content="Takka">
    <title>{% block title %}  M-zounkô {% endblock %}</title>
    {% block stylesheet %}
        <!-- FONT
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link href="{{ asset('css/font-awesome.min.css')}}" type='text/css'>
      <!-- CSS
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="stylesheet" href="{{ asset('css/normalize.css')}}">
      <link rel="stylesheet" href="{{ asset('css/skeleton.css')}}">
      <link rel="stylesheet" href="{{ asset('css/50h.css')}}">
       <!-- Favicon
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <link rel="icon" type="image/png" href="images/favicon.png">
    {% endblock %}
</head><!--/head-->
  
  <body>
     <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
 {% block header_top %}      
  <nav class="navbar">
    <div class="container">
        <a href="/"><img class="logo" src="{{asset('images/m-zounko.png')}}" alt="logo"/></a>
        <ul class="navbar-list">
            <li class="navbar-item">
                <a class="navbar-link" href="{{asset('/')}}">Acceuil</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="{{asset('/login')}}">S'inscrire/Se Connecter</a>

            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="{{asset('/contact')}}">Nous Contactez</a>
            </li>

        </ul>
    </div>
  </nav>
  
  <div class="section header">
    <div class="container">
      <div class="twelve columns stats_text">
        <div class="four columns  section-description stats_fond">
            <h2 class="stats">150</h2> achat(s)
        </div>
        <div class="four columns section-description">
          <h2 class="stats">120</h2> vente(s)
        </div>
        <div class="four columns section-description">
          <h2 class="stats">695</h2> transaction(s)
        </div>
      </div>
      <h1 class="section-heading">Besoin de recyclabes ?</h1>
      <h4 class="section-description">Trop de déchets à faire ramasser ?</h4>
      <a class="button button-primary" href="{{asset('poster')}}">Poster une annonce</a>
    </div>
  </div>
 {% endblock %}          
              
 {% block body %}
    <div class="container">
    <form action="/">
        <div class="row filters">
            <div class="three columns">
                <div class="field-group">
                    <label for="type_annonce">Type d'annonces</label>
                    <select class="type_annonce" id="type_annonce" name="type_annonce">
                        <option value="">Tous</option>
                        <option value="Achat">Achat</option>
                        <option selected value="Vente">Vente</option>
                    </select>
                </div>
            </div>
            <div class="three columns">
                <div class="field-group">
                    <label for="type">Categorie</label>
                    <select class="categorie" id="categorie" name="categorie">
                      <option value="">Toutes</option>
                      <option selected value="metal">Metal</option>
                      <option value="Sachet plastique">Sachet plastique</option>
                      <option value="Sachet plastique">Sachet plastique</option>
                      <option value="Bouteille bouteille">Bouteille plastique</option>
                      <option value="Verre">Verre</option>
                      <option value="Electronique">Electronique</option>
                      <option value="Papier">Papier</option>
                      <option value="Huile">Huile</option>
                    </select>
                </div>
            </div>           
                <div class="three columns">
                    <div class="field-group">
                        <label for="status">Status</label>
                        <select class="status" id="status" name="status">
                          <option value="">Tous</option>
                          <option value="0">Nouveau</option>
                          <option value="1">En cours</option>
                          <option value="2">Terminé</option>
                        </select>
                    </div>
                </div>
                    <div class="three columns">
                        <div class="field-group">
                            <label class="submit-label" for="submit">&nbsp;</label>
                            <input class="button-primary" id="submit" name="submit" type="submit" value="Recherche">
                        </div>
                    </div>

                </div>
            </form>
        </div>
  <div class="section annonces">
    <div class="container">
      <h3 class="center">300 Offres en cours </h3>
      <dl class="dix_derniers">
        <dt>#002369 - 100 kg de bouteilles plastique <span class="label label-type annonce_status">Achat</span><span class="label label-info annonce_status">Bouteille plastique</span><span class="label label-primary annonce_status">Nouveau</span><span class="badge annonce_status">10FCA/Kg</span><span class="badge annonce_status">100Kg</span></dt>
        <dd>
          <p>Nous recherchons pour une société 100 kg de bouteilles de Fifa pour d'ici le 19  Septembre 2015.</p> 
          <p class="center"><a class="button" href="{{ asset('repondre')}}">Répondre à l'annonce #002369</a></p>
        </dd>
        <dt>#002368 - 100 kg de métaux <span class="label label-type annonce_status">Achat</span><span class="label label-info annonce_status">Metal</span><span class="label label-primary annonce_status">Nouveau</span><span class="badge annonce_status">20FCA/Kg</span><span class="badge annonce_status">100Kg</span></dt>
        <dd>
          <p>La société cherche de toute urgence du fer 8 millimètre.</p>
          <p class="center"><a class="button" href="{{ asset('repondre')}}">Répondre à l'annonce 002368</a></p>
        </dd>
        <dt>#002350 - 500g de sachets plastiques <span class="label label-type annonce_status">Achat</span><span class="label label-info annonce_status">Sachet plastique</span><span class="label label-success annonce_status">En cours</span><span class="badge annonce_status">5FCA/g</span><span class="badge annonce_status">500g</span></dt>
        <dd>
          <p>Dans l'optique de l'organisation des fêtes de fin d'année, notre société a besoin de sachet plastique de 10 FCFA.</p>
          <p class="center"><a class="button" href="reponses.html#reponse" id="voir_reponse">Voir les réponses de l'annonce #002350</a> <a class="button" href="repondre.html#reponse" id="repondre_annonce">Répondre à l'annonce #002350</a></p>
        </dd>
      </dl>
      <div class="pagination">
        <ul>
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
 {% endblock %}
        
 {% block footer %}
    <div class="footer">
        <div class="container">
            <p>&copy 2015 - Takanons</p>
        </div>
    </div>

 {% endblock %}
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
<!-- Scripts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

  {% block javascripts %}
    <script src="{{ asset('js/jquery-2.1.4.min.js')}}"></script>
    <script src="{{ asset('js/50h.js')}}"></script>
  {% endblock %}

</html>